<div class="bg-black flex items-center justify-center px-4 sm:px-6 lg:px-8 py-4">
  <div class="container mx-auto text-center">
    <p class="text-white text-sm sm:text-base lg:text-lg">© Wedding website. All rights reserved to Bo de Roode.</p>
  </div>
</div>