<div class="bg-[#f7f6ed] flex items-center justify-center w-full">
  <div class="container mx-auto p-2 sm:p-4">
    <!-- First Section -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-16 mb-12 md:mb-32 mt-8 md:mt-32">
      <div class="flex justify-center items-center">
        <%= image_tag 'cake.jpg', alt: 'Description', class: 'w-full h-48 sm:h-64 md:h-80 object-cover rounded-xl shadow-md max-w-xs sm:max-w-sm md:max-w-full' %>
      </div>
      <div class="flex flex-col justify-center p-2 sm:p-4">
        <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold text-center md:text-left antic-didone-regular">Join us as we embark on our journey of</h1>
        <p class="text-2xl sm:text-3xl md:text-4xl text-center md:text-left parisienne-regular mb-4 sm:mb-6 md:mb-8">Love!</p>
        <p class="text-sm sm:text-base md:text-lg text-center md:text-left">Your text goes here. This is a sample text to demonstrate the layout. You can add more content as needed.</p>
      </div>
    </div>

    <!-- Second Section -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-16 mt-8 md:mt-32 mb-12 md:mb-32">
      <div class="flex flex-col justify-center p-2 sm:p-4">
        <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold mb-2 sm:mb-4 text-center md:text-left antic-didone-regular">Nestled in the beauty of</h1>
        <p class="text-2xl sm:text-3xl md:text-4xl text-center md:text-left pinyon-script-regular mb-4 sm:mb-6 md:mb-8">Simi Valley!</p>
        <p class="text-sm sm:text-base md:text-lg text-center md:text-left">Your text goes here. This is a sample text to demonstrate the layout. You can add more content as needed.</p>
      </div>
      <div class="flex justify-center items-center">
        <%= image_tag 'cake.jpg', alt: 'Description', class: 'w-full h-48 sm:h-64 md:h-80 object-cover rounded-xl shadow-md max-w-xs sm:max-w-sm md:max-w-full' %>
      </div>
    </div>
  </div>
</div>