<div class="px-4 sm:px-6 lg:px-8 py-8 bg-gray-50">
  <div class="max-w-4xl mx-auto">
    <h1 class="text-3xl md:text-4xl font-bold mb-6 text-center antic-didone-regular">Frequently Asked Questions</h1>
    
    <div class="space-y-8">
      <div>
        <h2 class="text-2xl md:text-3xl font-semibold mb-2 text-center antic-didone-regular mb-3 mt-38">Where do I park for the event?</h2>
        <p class="text-center md:text-lg text-justify">Guest parking is unavailable at the venue. Shuttle service will begin at 4:15 PM, picking up guests at the intersection of Center School Road and Riente Street. We ask that guests park personal vehicles along Center School Drive or in the nearby neighborhood. The shuttle ride will last approximately two minutes and drop guests off at the wedding venue at 1282 Fairway Drive. Guests who are using Uber or a rideshare service are welcome to be dropped off directly at the venue.</p>
      </div>

      <div>
        <h2 class="text-2xl md:text-3xl font-semibold mb-2 text-center antic-didone-regular mb-3 mt-16">What food is being served?</h2>
        <p class="text-center md:text-lg text-justify">To be determined</p>
      </div>

      <div>
        <h2 class="text-2xl md:text-3xl font-semibold mb-2 text-center antic-didone-regular mb-3 mt-16">What is the dress code?</h2>
        <p class="text-center md:text-lg text-justify">Semi-formal! Think: dresses, jumpsuits, dressy separates, or a suit (no tuxes needed). Just dress nicely and comfortably—we want you to have fun! Please note: The ceremony and reception will take place on grass, so we recommend avoiding stilettos or narrow heels.</p>
      </div>

      <div>
        <h2 class="text-2xl md:text-3xl font-semibold mb-2 text-center antic-didone-regular mb-3 mt-16">Can I bring a plus one?</h2>
        <p class="text-center md:text-lg text-justify">We’re so excited to celebrate with our closest friends and family. Due to limited space, we are only able to accommodate the guests listed on your invitation. We appreciate your understanding!</p>
      </div>

      <div>
        <h2 class="text-2xl md:text-3xl font-semibold mb-2 text-center antic-didone-regular mb-3 mt-16">Can I bring my kids?</h2>
        <p class="text-center md:text-lg text-justify">We love your children! However, we’re keeping the celebration adults-only—with the exception of the kids in our wedding party. We hope you understand and enjoy a night out!</p>
      </div>

      <div>
        <h2 class="text-2xl md:text-3xl font-semibold mb-2 text-center antic-didone-regular mb-3 mt-16">Can I RSVP after the deadline?</h2>
        <p class="text-center md:text-lg text-justify">To help us finalize details, we kindly ask that all RSVP's be submitted by the specified date (May 27th, 2025). Unfortunately, we won't accommodate late RSVP's. Thank you for your understanding!</p>
      </div>

      <div>
        <h2 class="text-2xl md:text-3xl font-semibold mb-2 text-center antic-didone-regular mb-3 mt-16">Can I attend if I don't RSVP?</h2>
        <p class="text-center md:text-lg text-justify">We kindly ask that all guests RSVP by the specified date to ensure we can plan accordingly. If we don't receive your RSVP, unfortunately we won't be able to accommodate you at the wedding. We appreciate your understanding!</p>
      </div>
    </div>
  </div>
</div>